<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.js"></script>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script type="text/javascript" src="https://cdn.rawgit.com/snapjay/ngCart/0.0.3-rc.2/dist/ngCart.js"></script>

<style type="text/css">
    hr {
    margin:40px 0;
} 
h3 { color:#1758AA}
h3 span {font-size:14px; display:block;}
span[ng-click] {
        cursor: pointer;
    }
  </style>
  
<body ng-app="myApp" class="ng-scope">
  <div ng-controller="myCtrl" class="ng-scope">

<div class="row">
  
    <div class="col-xs-offset-8 col-xs-4">
    <h3>Summary <span>(ngcart-summary)</span></h3>
        
      <ngcart-summary class="ng-isolate-scope"><div class="row">
 
    <div class="col-md-6 ng-binding">3
        <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}">items</ng-pluralize>
        <br>$38.43
    </div>
</div>
</ngcart-summary>
    </div>
    </div>
    <hr>
         <h3>Add to Cart <span>(ngcart-addtocart)</span></h3>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <h4>My Item #1</h4>
        <p> $10.99</p>
        <ngcart-addtocart id="item1" name="My Item #1" price="10.99" quantity="1" quantity-max="5" class="ng-isolate-scope"><div ng-hide="attrs.id" class="ng-hide">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude="" disabled="disabled"><span class="ng-scope">Add to Cart</span></a>

</div>
<div ng-show="attrs.id" class="">
    <div>
        <span ng-show="quantityMax" class="">
            <select name="quantity" id="quantity" ng-model="q" ng-options=" v for v in qtyOpt" class="ng-valid ng-dirty"><option value="0" selected="selected" label="1">1</option><option value="1" label="2">2</option><option value="2" label="3">3</option><option value="3" label="4">4</option><option value="4" label="5">5</option></select>
        </span>
        <a class="btn btn-sm btn-primary" ng-click="ngCart.addItem(id, name, price, q, data)" ng-transclude=""><span class="ng-scope">Add to Cart</span></a>
    </div>
    <mark ng-show="inCart()" class="">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </mark>
</div>
</ngcart-addtocart>
    </div>
    <div class="col-xs-6 col-sm-3">
        <h4>My Item #2</h4>
        <p> $15.29</p>
        <ngcart-addtocart id="item2" name="My Item #2" price="15.29" quantity="1" quantity-max="5" class="ng-isolate-scope"><div ng-hide="attrs.id" class="ng-hide">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude="" disabled="disabled"><span class="ng-scope">Add to Cart</span></a>

</div>
<div ng-show="attrs.id" class="">
    <div>
        <span ng-show="quantityMax" class="">
            <select name="quantity" id="quantity" ng-model="q" ng-options=" v for v in qtyOpt" class="ng-pristine ng-valid"><option value="0" selected="selected" label="1">1</option><option value="1" label="2">2</option><option value="2" label="3">3</option><option value="3" label="4">4</option><option value="4" label="5">5</option></select>
        </span>
        <a class="btn btn-sm btn-primary" ng-click="ngCart.addItem(id, name, price, q, data)" ng-transclude=""><span class="ng-scope">Add to Cart</span></a>
    </div>
    <mark ng-show="inCart()" class="ng-hide">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </mark>
</div>
</ngcart-addtocart>
    </div>
    <div class="col-xs-6 col-sm-3">
        <h4>My Item #3</h4>
        <p> $25.75</p>
        <ngcart-addtocart id="item3" name="My Item #3" price="25.75" quantity="3" quantity-max="10" class="ng-isolate-scope"><div ng-hide="attrs.id" class="ng-hide">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude="" disabled="disabled"><span class="ng-scope">Add to Cart</span></a>

</div>
<div ng-show="attrs.id" class="">
    <div>
        <span ng-show="quantityMax" class="">
            <select name="quantity" id="quantity" ng-model="q" ng-options=" v for v in qtyOpt" class="ng-pristine ng-valid"><option value="0" label="1">1</option><option value="1" label="2">2</option><option value="2" selected="selected" label="3">3</option><option value="3" label="4">4</option><option value="4" label="5">5</option><option value="5" label="6">6</option><option value="6" label="7">7</option><option value="7" label="8">8</option><option value="8" label="9">9</option><option value="9" label="10">10</option></select>
        </span>
        <a class="btn btn-sm btn-primary" ng-click="ngCart.addItem(id, name, price, q, data)" ng-transclude=""><span class="ng-scope">Add to Cart</span></a>
    </div>
    <mark ng-show="inCart()" class="ng-hide">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </mark>
</div>
</ngcart-addtocart>
    </div>
    <div class="col-xs-6 col-sm-3">
        <h4>My Item #4</h4>
        <p> $29.25</p>
        <ngcart-addtocart id="item4" name="My Item #4" price="29.25" quantity="1" quantity-max="10" class="ng-isolate-scope"><div ng-hide="attrs.id" class="ng-hide">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude="" disabled="disabled"><span class="ng-scope">Add to Cart</span></a>

</div>
<div ng-show="attrs.id" class="">
    <div>
        <span ng-show="quantityMax" class="">
            <select name="quantity" id="quantity" ng-model="q" ng-options=" v for v in qtyOpt" class="ng-pristine ng-valid"><option value="0" selected="selected" label="1">1</option><option value="1" label="2">2</option><option value="2" label="3">3</option><option value="3" label="4">4</option><option value="4" label="5">5</option><option value="5" label="6">6</option><option value="6" label="7">7</option><option value="7" label="8">8</option><option value="8" label="9">9</option><option value="9" label="10">10</option></select>
        </span>
        <a class="btn btn-sm btn-primary" ng-click="ngCart.addItem(id, name, price, q, data)" ng-transclude=""><span class="ng-scope">Add to Cart</span></a>
    </div>
    <mark ng-show="inCart()" class="ng-hide">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </mark>
</div>
</ngcart-addtocart>        
    </div>
</div>

    <hr>
    <h3>Cart <span> (ngcart-cart)</span></h3>

    <ngcart-cart class="ng-isolate-scope">
<div class="alert alert-warning ng-hide" role="alert" ng-show="ngCart.getTotalItems() === 0">
    Your cart is empty
</div>

<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">

    <table class="table table-striped ngCart cart">

        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-show="ngCart.getTax()" class="">
            <td></td>
            <td></td>
            <td></td>
            <td class="ng-binding">Tax (7.5%):</td>
            <td class="ng-binding">$2.47</td>
        </tr>
        <tr ng-show="ngCart.getShipping()" class="">
            <td></td>
            <td></td>
            <td></td>
            <td>Shipping:</td>
            <td class="ng-binding">$2.99</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td class="ng-binding">$38.43</td>
        </tr>
        </tfoot>
        <tbody>
        <!-- ngRepeat: item in ngCart.getCart().items track by $index --><tr ng-repeat="item in ngCart.getCart().items track by $index" class="ng-scope">
            <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

            <td class="ng-binding">My Item #1</td>
            <td class="ng-binding"><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}" ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                3&nbsp;&nbsp;
                <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
            <td class="ng-binding">$10.99</td>
            <td class="ng-binding">$32.97</td>
        </tr><!-- end ngRepeat: item in ngCart.getCart().items track by $index -->
        </tbody>
    </table>
</div>

</ngcart-cart>
   
    <hr>

<div class="row">
    <div class="col-md-12">
        
    <h3>Checkout <span> (ngcart-checkout)</span></h3>
        
        
        <div class="row">
    <div class="col-xs-4">
        <h4>service 'log'</h4>
        <ngcart-checkout service="log" class="ng-isolate-scope">
    
<!-- ngIf: service=='http' || service == 'log' --><div ng-if="service=='http' || service == 'log'" class="ng-scope">
    <button class="btn btn-primary" ng-click="checkout()" ng-disabled="!ngCart.getTotalItems()" ng-transclude=""><span class="ng-scope">Checkout</span></button>
</div><!-- end ngIf: service=='http' || service == 'log' -->


<!-- ngIf: service=='paypal' -->
    
</ngcart-checkout>
    </div>
    <div class="col-xs-4">
        <h4>service 'http'</h4>
        <ngcart-checkout service="http" settings="httpSettings" class="ng-isolate-scope">
    
<!-- ngIf: service=='http' || service == 'log' --><div ng-if="service=='http' || service == 'log'" class="ng-scope">
    <button class="btn btn-primary" ng-click="checkout()" ng-disabled="!ngCart.getTotalItems()" ng-transclude=""><span class="ng-scope">Checkout </span></button>
</div><!-- end ngIf: service=='http' || service == 'log' -->


<!-- ngIf: service=='paypal' -->
    
</ngcart-checkout>
    </div>
    <div class="col-xs-4">
        <h4>service 'paypal'</h4>
        <ngcart-checkout service="paypal" settings="payPalSettings" class="ng-isolate-scope">
    
<!-- ngIf: service=='http' || service == 'log' -->


<!-- ngIf: service=='paypal' --><div ng-if="service=='paypal'" class="ng-scope">

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="ngCart.getTotalItems()" class="ng-pristine ng-valid">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="">
        <input type="hidden" name="lc" value="CA">
        <input type="hidden" name="item_name" value="">
        <input type="hidden" name="item_number" value="">
        <input type="hidden" name="amount" value="32.97">
        <input type="hidden" name="currency_code" value="">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="tax_rate" value="7.5">
        <input type="hidden" name="shipping" value="2.99">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

</div><!-- end ngIf: service=='paypal' -->
    
</ngcart-checkout>
    </div>
</div>
        


    </div>
</div>

</div>


<!--  TEMPALATES -->
<!--  TEMPALATES -->
<!--  TEMPALATES -->

<script type="text/ng-template" id="template/ngCart/summary.html"><div class="row">
 
    <div class="col-md-6">{{ ngCart.getTotalItems() }}
        <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize>
        <br />{{ ngCart.totalCost() | currency }}
    </div>
</div>
</script>


<script type="text/ng-template" id="template/ngCart/cart.html">
<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    Your cart is empty
</div>

<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">

    <table class="table table-striped ngCart cart">

        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-show="ngCart.getTax()">
            <td></td>
            <td></td>
            <td></td>
            <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
            <td>{{ ngCart.getTax() | currency }}</td>
        </tr>
        <tr ng-show="ngCart.getShipping()">
            <td></td>
            <td></td>
            <td></td>
            <td>Shipping:</td>
            <td>{{ ngCart.getShipping() | currency }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{ ngCart.totalCost() | currency }}</td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="item in ngCart.getCart().items track by $index">
            <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

            <td>{{ item.getName() }}</td>
            <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
                      ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                {{ item.getQuantity() | number }}&nbsp;&nbsp;
                <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
            <td>{{ item.getPrice() | currency}}</td>
            <td>{{ item.getTotal() | currency }}</td>
        </tr>
        </tbody>
    </table>
</div>

</script>

<script type="text/ng-template" id="template/ngCart/addtocart.html"><div ng-hide="attrs.id">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

</div>
<div ng-show="attrs.id">
    <div>
        <span ng-show="quantityMax">
            <select name="quantity" id="quantity" ng-model="q"
                    ng-options=" v for v in qtyOpt"></select>
        </span>
        <a class="btn btn-sm btn-primary"
           ng-click="ngCart.addItem(id, name, price, q, data)"
           ng-transclude></a>
    </div>
    <mark  ng-show="inCart()">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </mark>
</div>
</script>

<script type="text/ng-template" id="template/ngCart/checkout.html">
    
<div ng-if="service=='http' || service == 'log'">
    <button class="btn btn-primary" ng-click="checkout()" ng-disabled="!ngCart.getTotalItems()" ng-transclude>Checkout</button>
</div>


<div ng-if="service=='paypal'">

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="ngCart.getTotalItems()">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="{{ settings.paypal.business }}">
        <input type="hidden" name="lc" value="CA">
        <input type="hidden" name="item_name" value="{{ settings.paypal.item_name }}">
        <input type="hidden" name="item_number" value="{{ settings.paypal.item_number }}">
        <input type="hidden" name="amount" value="{{ ngCart.getSubTotal()}}">
        <input type="hidden" name="currency_code" value="{{ settings.paypal.currency_code }}">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="tax_rate" value="{{ ngCart.getTaxRate()}}">
        <input type="hidden" name="shipping" value="{{ ngCart.getShipping()}}">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

</div>
    
</script>
    

  



<script type="text/javascript">//<![CDATA[

var myApp = angular.module('myApp',['ngCart']);

myApp.controller ('myCtrl', ['$scope', '$http', 'ngCart', function($scope, $http, ngCart) {
    ngCart.setTaxRate(7.5);
    ngCart.setShipping(2.99);    
}]);
//]]> 

</script>





</body>